@import "vars";
/*
Миксин для media queries. Определены следующие размеры:
- mobile - для мобильных < 768px
- mobile-landscape - для мобильных в ланшафтном режиме.
- mobile-tablet - только для планшетов и мобильных
- only-tablet - только для планшетов
- tablet - для планшетов с разрешением <= 768px (портретный режим)
- desktop-small - маленькие экраны и некоторые планшеты в ланшафтном режиме (например iPad)
- desktop - большие экраны от 1256px
- center - нужно для расчетов отступа плашки с рекламой
- 2x - для ретины
*/
@mixin bp($point) {
  @if $point == mobile {
    @media (max-width: $mobile-width - 1px) { @content; }
  }
  @if $point == mobile-landscape {
    @media (max-width: $mobile-width - 1px) and (orientation: landscape) { @content; }
  }
  @if $point == mobile-portrait {
    @media (max-width: $mobile-width - 1px) and (orientation: portrait) { @content; }
  }
  @if $point == mobile-tablet {
    @media (max-width: $tablet-width - 1px) { @content; }
  }
  @if $point == only-tablet {
    @media (max-width: $tablet-width - 1px) and (min-width: $mobile-width) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: $mobile-width) { @content; }
  }
  @else if $point == desktop-small {
    @media (min-width: $tablet-width)  { @content; }
  }
  @else if $point == desktop {
    @media (min-width: $max-width)  { @content; }
  }
}

/*
Перевод px в rem.
line-height задается как некая заглушка, чтобы не наследовать от родительского элемента
*/
@mixin font-size($size, $line-height: -100) {
  font-size: ($size / $base-font-size) + rem;
  @if($line-height != -100) {
    line-height: $line-height;
  }
}

/*
Для горизонтальных списков
*/
@mixin inline($align: middle) {
  display: inline-block;
  vertical-align: $align;
}

/*
Обнуление списков
*/
@mixin simple-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
