$base-font-size: 16px;             // Базовый размер шрифта

$white: #FFFFFF;                  // Белый
$black: #000000;                  // Черный

$bg: #030a09;
$accent: #52bab2;
$footer: #e40613;
$note: #8f8f8f;

$wide-width: 1920px;              // Размер большого экрана
$desktop-small-width: 1256px;     // Минимальный размер большого экрана
$tablet-width: 1024px;            // Минимальный размер среднего экрана
$mobile-width: 768px;             // Минимальный размер планшета

$max-width: 1440px;