@import "vars";
@import "mixins";

html, body {
  padding: 0;
  margin: 0;
  font-size: $base-font-size;
  min-height: 100%;
  height: 100%;
}

@font-face {
  font-family: 'calibri';
  src: url("../fonts/calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: $bg;
  font-family: "Arial Black", Gadget, sans-serif;
  color: $white;

  /* Chrome + Safari =/- */
  text-rendering: geometricPrecision;
  /* Safari */
  -webkit-font-smoothing: antialiased;
  /* Firefox */
  -moz-osx-font-smoothing: grayscale;
  /* Just in case */
  font-smooth: antialiased;
  position: relative;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

img {
  display: block;
}

strong {
  color: $accent;
}

.od-layout {
  max-width: $max-width;
  margin: 0 auto;
  overflow: hidden;
}

.od-center {
  width: 100%;

  @include bp(mobile-tablet) {
    padding: 0 20px;
  }

  @include bp(desktop-small) {
    padding: 0 40px;
  }

  @include bp(desktop) {
    padding: 0 168px;
  }
}

.od-optidigest {
  display: flex;

  &__img {
    @include bp(mobile) {
      width: 216px;
    }
  }
}

.od-reg {
  @include font-size(22px, 22px);
  font-family: Arial;
  font-style: italic;
  margin-left: 10px;

  @include bp(mobile) {
    @include font-size(12px, 14px);
    margin-left: 4px;
  }
}

.od-proplan {
  @include font-size(62px, 62px);
  display: flex;
  align-items: center;
  font-family: 'calibri';

  @include bp(mobile) {
    @include font-size(27px, 30px);
  }

  &__text {
    display: flex;
    white-space: nowrap;
  }

  .od-optidigest {
    margin-left: 16px;

    @include bp(mobile) {
      margin-left: 8px;
    }

    &__img {
      flex: 0 0 330px;
      max-width: 330px;
      height: auto;

      @include bp(mobile) {
        flex: 0 0 142px;
        max-width: 142px;
      }
    }
  }
}

.od-logo {
  display: block;

  &__img {
    @include bp(mobile) {
      width: 100px;
    }
  }
}

.od-header {
  text-transform: uppercase;
  position: relative;

  @include bp(mobile) {
    @include font-size(14px, 16px);
  }

  @include bp(only-tablet) {
    height: 940px;
  }

  @include bp(tablet) {
    @include font-size(26px, 30px);
    height: 890px;
  }

  &__top {
    position: absolute;
    left: 0;
    top: 0;
    height: 72px;
    width: 100%;
    background: rgba($black, 0.6);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include bp(mobile) {
      height: 50px;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;

      @include bp(mobile) {
        height: 420px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    &__shadows {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &__shadow {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: block;

        &_1 {
          background-image: linear-gradient( 0deg, $black 0%, rgba($black,0) 100%);
          width: 2036px;
          opacity: 0.2;
        }

        &_2 {
          background-image: linear-gradient( 0deg, $black 0%, rgba($black, 0) 100%);
          opacity: 0.7;
          width: 2036px;
        }

        &_3 {
          background-image:linear-gradient( 0deg, $black 0%, rgba($black,0) 100%);
          opacity: 0.7;
          width: 1471px;
        }
      }
    }
  }

  &__info {
    z-index: 3;
    width: 100%;

    &__text {
      @include bp(mobile) {
        text-align: left;
        margin-bottom: 38px;
      }

      @include bp(tablet) {
        flex: 0 0 60%;
        max-width: 60%;
      }
    }

    @include bp(mobile) {
      padding-top: 62px;
      position: relative;
    }

    @include bp(tablet) {
      top: 152px;
      position: absolute;
      left: 0;

    }
  }

  &__title {
    &__text {
      margin-bottom: 16px;
    }
  }

  &__packs {
    @include bp(mobile) {
      width: 100%;
      margin-top: 200px;
    }

    @include bp(only-tablet) {
      transform: scale(0.8);
      transform-origin: 0 0;
      margin-top: 80px;
    }

    @include bp(desktop-small) {
      margin-top: 44px;
    }
  }

  &__foot {
    @include bp(mobile) {
      margin: 20px 0 44px;
      text-align: center;
    }

    @include bp(tablet) {
      margin-top: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .od-decor {
    @include bp(mobile) {
      position: relative;
      transform: none;
      left: 0;
    }
  }
}

.od-btn {
  @include font-size(25px, 72px);
  min-height: 72px;
  color: $white;
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;

  &__text {
    background: $accent;
    height: 100%;
    min-height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 28px;
  }

  &:before, &:after {
    position: absolute;
    width: 30px;
    height: 100%;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/btn-corner.png) 0 0 no-repeat;
    background-size: 30px 100%;

    @include bp(mobile) {
      background-size: 15px 100%;
    }
  }

  &:before {
    left: 1px;
  }

  &:after {
    right: 1px;
    transform: translateY(-50%) scale(-1);
  }

  @include bp(mobile) {
    @include font-size(16px, 50px);
    min-height: 50px;
    padding: 0 15px;
  }

  @include bp(tablet) {
    padding: 0 30px;
  }
}

.od-decor {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 4;
  background: url(../img/decor.png) center top no-repeat;
  height: 52px;
  width: 100%;

  @include bp(mobile) {
    height: 20px;
    background-size: auto 20px;
  }
}

.od-discount {
  text-align: center;
  z-index: 4;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 190px;
  text-transform: uppercase;

  @include bp(mobile) {
    @include font-size(16px, 20px);
    padding-left: 15px;
  }

  @include bp(tablet) {
    @include font-size(33px, 36px);
    padding-left: 30px;
  }

  &__text {
    background: $accent;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include bp(mobile) {
      height: 46px;
      padding: 0 20px 0 12px;
    }

    @include bp(tablet) {
      height: 100px;
      padding: 0 44px 0 24px;
    }
  }

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    background: url(../img/btn-corner.png) 0 0 no-repeat;

    @include bp(mobile) {
      width: 15px;
      background-size: 15px 100%;
    }

    @include bp(tablet) {
      width: 30px;
      background-size: 30px 100%;
    }
  }
}

@keyframes pulse {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(0);
  }
}

.od-solution {
  padding: 100px 0 112px;
  position: relative;

  @include bp(mobile) {
    padding: 52px 0 56px;
  }

  &__title {
    @include font-size(50px, 48px);
    text-transform: uppercase;

    @include bp(mobile) {
      @include font-size(22px, 28px);
    }
  }

  &__list {
    @include bp(mobile) {
      margin-top: 36px;
    }

    @include bp(tablet) {
      margin-top: 52px;
    }

    @include bp(desktop-small) {
      flex: 0 0 524px;
      max-width: 524px;
    }

    @include bp(desktop) {
      flex: 0 0 624px;
      max-width: 624px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-family: Arial;

    + .od-solution__item {
      @include bp(mobile) {
        margin-top: 16px;
      }

      @include bp(tablet) {
        margin-top: 36px;
      }
    }
  }

  &__icon {
    object-fit: contain;

    @include bp(mobile) {
      flex: 0 0 48px;
      max-width: 48px;
      height: 42px;
    }

    @include bp(tablet) {
      flex: 0 0 108px;
      max-width: 108px;
      height: 100px;
    }
  }

  &__text {
    @include font-size(26px, 30px);
    margin-left: 16px;

    @include bp(mobile) {
      @include font-size(13px, 20px);
    }
  }

  &__columns {
    @include bp(tablet) {
      display: flex;
    }
  }

  &__dog {
    @include font-size(30px, 36px);
    text-transform: uppercase;
    margin-left: auto;

    @include bp(mobile) {
      @include font-size(14px, 20px);
      display: flex;
      flex-direction: column;
    }

    &__img {
      @include bp(mobile) {
        width: 120%;
        margin: 0 0 0 -20px;
        order: 2;
      }

      @include bp(only-tablet) {
        transform: scale(0.7);
        margin: -80px 0 -40px -100px;
      }

      @include bp(desktop-small) {
        margin: -80px 0 -40px -210px;
      }

      @include bp(desktop) {
        margin: -80px 0 -40px -180px;
      }
    }

    &__text {
      @include bp(mobile) {
        order: 1;
        margin: 36px 0 10px;
      }

      @include bp(only-tablet) {
        width: 60%;
        margin: -120px 0 0 80px;
      }
    }
  }

  &__banner {
    position: absolute;
    width: 268px;
    height: 240px;
    background: url(../img/banner.png) 0 0 no-repeat;
    background-size: contain;
    right: -120px;
    top: 330px;
    cursor: pointer;
    animation: pulse 1s infinite ease-in-out;
    transition: all 0.3s;

    @include bp(mobile) {
      height: 136px;
      width: 152px;
      top: 530px;
      right: -90px;
    }

    &__text {
      @include font-size(34px, 40px);
      text-transform: uppercase;
      text-align: center;
      transform: rotate(-90deg);
      width: 100%;
      height: 100%;
      padding-top: 36px;

      @include bp(mobile) {
        @include font-size(14px, 18px);
        padding-top: 20px;
      }
    }

    &:hover {
      //right: -100px;
    }
  }

  &__btn {
    text-align: center;

    @include bp(mobile) {
      margin-top: 0px;
    }

    @include bp(tablet) {
      margin-top: 60px;
    }
  }

  &__solution {
    position: absolute;
    padding: 100px 0 0 0;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: $bg;
    transition: left 0.3s;

    .od-center {
      @include bp(mobile-tablet) {
        display: flex;
        flex-direction: column;
      }
    }

    @include bp(mobile) {
      padding-top: 52px;
    }

    &_opened {
      left: 0;
    }
    
    &_fixed {
      position: static;
      padding: 0;
    }

    .od-solution__list {
      margin-top: 48px;
    }

    .od-proplan {
      margin-bottom: 90px;

      @include bp(mobile-tablet) {
        margin-bottom: 0;
      }
    }

    .od-discount {
      @include bp(mobile-tablet) {
        position: relative;
        display: block;
        margin: 40px -20px 0 auto;
        top: auto;
      }

      @include bp(tablet) {
        margin-bottom: 40px;
      }

      @include bp(desktop-small) {
        top: 70px;
      }
    }

    .od-btn__text {
      padding: 0 48px;
    }

    .od-btn {
      max-width: 1110px;
    }
  }

  &__food {
    @include bp(mobile) {
      width: 100%;
      margin: 80px 0;
    }

    &__img {
      @include bp(mobile) {
        width: 100%;
      }
    }
  }
}

.od-products {
  @include bp(mobile) {
    padding-top: 46px;
  }

  @include bp(tablet) {
    padding-top: 76px;
  }

  &__block {
    position: relative;
    padding-top: 16px;

    @include bp(mobile) {
      padding-top: 9px;
    }

    + .od-products__block {
      margin-top: 66px;
    }

    &_result {
      @include bp(mobile) {
        text-align: center;
      }

      @include bp(tablet) {
        display: flex;
        align-items: center;
      }
    }
  }

  &__list {
    border: solid 1px $accent;
    border-radius: 20px;

    @include bp(mobile) {
      padding: 44px 18px;
    }

    @include bp(tablet) {
      padding: 80px 40px 30px;
      display: flex;
      justify-content: space-around;
    }

    @include bp(desktop-small) {
      padding: 100px 100px 70px;
    }

    &_half {
      @include bp(mobile) {
        display: none;
      }

      @include bp(tablet) {
        width: 50%;
      }
    }
  }

  &__title {
    @include font-size(30px, 32px);
    text-transform: uppercase;
    color: $accent;
    position: absolute;
    left: 76px;
    top: 0px;
    background: $bg;
    padding: 0 16px;

    @include bp(mobile) {
      @include font-size(16px, 20px);
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      padding: 0;
      text-align: center;
    }
  }

  .od-proplan {
    margin-bottom: 128px;

    @include bp(mobile) {
      margin-bottom: 56px;
    }
  }
}

.od-product {
  text-align: center;
  position: relative;

  @include bp(mobile) {
    @include font-size(13px, 16px);
  }

  @include bp(tablet) {
    @include font-size(18px, 22px);
    flex: 0 0 260px;
    max-width: 260px;
  }

  @include bp(desktop-small) {
    flex: 0 0 330px;
    max-width: 330px;
  }

  img {
    margin: 0 auto;
  }

  &__text {
    font-family: Arial;
    position: relative;
    z-index: 2;
  }

  &__image {
    position: relative;
    outline: none;
    display: block;
    transition: all 0.3s;
    z-index: 1;

    &:after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 100%;
      height: 40px;
      background: linear-gradient(to top, $bg 0%, rgba($bg, 0) 100%);
      content: '';
    }

    img {
      @include bp(mobile-tablet) {
        width: 100%;
      }
    }
  }

  &__flip {
    transform: scaleY(-1);
  }

  &__mirrored {
    overflow: hidden;
    height: 90px;
    opacity: 0.2;
  }

  &__weight {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 20px;
    font-family: Arial;

    @include bp(mobile) {
      margin-top: 14px;
    }

    &__item {
      cursor: pointer;
      color: $white;
      border-bottom: solid 2px transparent;

      + .od-product__weight__item {
        @include bp(mobile) {
          margin-left: 12px;
        }

        @include bp(tablet) {
          margin-left: 16px;
        }
      }

      &:hover {
        border-color: $white;
      }
    }
  }

  &__btn {
    @include font-size(18px, 40px);
    text-transform: uppercase;
    margin-top: 50px;
    background: $accent;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    display: inline-block;
    color: $white;

    @include bp(mobile) {
      @include font-size(10px, 20px);
      height: 20px;
      margin-top: 14px;
      width: 108px;
    }

    &__text {
      line-height: 20px;
      display: inline-block;
      border-bottom: solid 2px transparent;
      transition: all 0.3s;
    }

    &:hover {
      .od-product__btn__text {
        border-color: $white;
      }
    }
  }

  &__new {
    position: absolute;
    right: 0;
    top: 50px;
    opacity: 0;
    transition: all 0.4s;
    z-index: 3;

    .od-btn__text {
      padding: 0 20px;
    }

    @include bp(mobile) {
      opacity: 1;
      top: 30px;
    }
  }

  &:hover {
    .od-product__image {
      transform: scale(1.1);
    }

    .od-product__new {
      opacity: 1;
      top: 30px;
    }
  }

  + .od-product {
    @include bp(mobile) {
      margin-top: 52px;
    }
  }

  &_mobile {
    display: none;

    @include bp(mobile) {
      display: block;
    }
  }
}

.od-result {
  background: url(../img/banner.png) 0 0 no-repeat;
  width: 331px;
  height: 296px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include bp(mobile) {
    width: 212px;
    height: 190px;
    background-size: contain;
    margin: 0 auto;
  }

  @include bp(tablet) {
    margin-left: auto;
  }

  @include bp(desktop-small) {
    margin-left: 116px;
  }

  &__text {
    @include font-size(30px, 34px);
    text-transform: uppercase;
    text-align: center;
    color: $bg;

    @include bp(mobile) {
      @include font-size(20px, 24px);
    }
  }
}

.od-btns{
  text-align: center;
  margin: 80px 0;

  @include bp(mobile) {
    margin: 0 0 60px;
  }
}

.od-footer {
  background: $footer;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include bp(mobile) {
    height: 36px;
  }

  &__logo {
    @include bp(mobile) {
      width: 246px;
      margin: 0 auto;
    }
  }
}

.od-note {
  @include font-size(14px, 20px);
  font-family: Arial;
  color: $note;
  margin: 70px 0 30px;

  @include bp(mobile) {
    @include font-size(9px, 14px);
    margin: 60px 0 14px;
  }
}

.od-mobile {
  display: none;

  @include bp(mobile) {
    display: inline-block;
  }
}

.od-tablet {
  display: none;

  @include bp(tablet) {
    display: block;
  }
}